@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding:0;
    margin:0;
    font-family:'ubuntu', sans-serif;
}

html {
    height:100%;
}

button {
    color:inherit;
    background:none;
    border:none;
}

a {
    text-decoration:none;
    color:inherit;
}

ul {
    list-style:none;
}

.wrapper {
    padding:5%;
}

.theme-dark {
    --background:#111;
    --text-main:#eee;
    --accent:#fff;
    --border-main:#888;
    --border-hover:#aaa;
    --arrow-main:#888;
    --arrow-hover:#ccc;
    --transparent-hover:#ffffff20;
}

.theme-light {
    --background:#fff;
    --text-main:#222;
    --accent:#000;
    --border-main:#bbb;
    --border-hover:#888;
    --arrow-main:#888;
    --arrow-hover:#555;
    --transparent-hover:#00000010;
}

.theme-dark .switch_to_dark_theme,
.theme-light .switch_to_light_theme {
    display:none;
}

.theme-switcher svg {
    width:24px;
    height:24px;
    fill:var(--accent);
    pointer-events:none;
}

.theme-switcher {
    position:absolute;
    left:75px;
    top:75px;
    display:flex;
}

.theme-switcher button {
    background:none;
    border:none;
    padding:20px;
    border-radius:200px;
    transition:0.2s;
    display:flex;
    justify-content:center;
    align-items:center;
}

.theme-switcher button:hover {
    background:var(--transparent-hover);
}

body {
    background:var(--background);
    color:var(--text-main);
    min-height:100%;
    
    display:flex;
    align-items:center;
    justify-content:center;

    position:relative;
    overflow:hidden;
}

.background_opacity {
    content:'';
    display:block;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:inherit;
    pointer-events:none;
    z-index:-1;
    background-color:var(--background);
}

main {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.search_form {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:30px;
    margin-bottom:30px;

    max-width:700px;
}

.search_bar {
    border:3px solid var(--border-main) !important;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:15px;
    border-radius:100px;
    padding:2px 25px;
    width:500px;
    transition:0.1s;
    box-sizing:border-box;

    position:relative;
    overflow:hidden;
}

.search_bar:hover {
    border-color:var(--border-hover) !important;
}

.search {
    border:none;
    background:none;
    box-sizing:border-box;
    outline:none;
    color:inherit;
    width:100%;
    font-family:inherit;
    font-size:18px;
    padding:10px 0;

    pointer-events:none;
}

.ripple {
    background:var(--accent);
    transform:translate(-50%, -50%);
    border-radius:50%;
    pointer-events:none;
    position:absolute;
    animation:0.5s ripple linear;
}

@keyframes ripple {
    0% {
        opacity:0.35;
        width:0;
        height:0;
    }
    50% {
        width:1000px;
        height:1000px;
    }
    100% {
        opacity:0;
        width:1000px;
        height:1000px;
    }
}

.search_button {
    background:none;
    border:none;
    display:flex;
    justify-content:center;
    align-items:center;
}

.search_button svg {
    transition:0.1s;
    width:28px;
    fill:var(--arrow-main) !important;
}

.search_button:hover svg {
    fill:var(--arrow-hover) !important;
}

.search_results {
    font-size:18px;
}

h1 {
    font-family:'passions conflict', serif;
    font-size:64px;
}

h3 {
    font-family:'passions conflict', serif;
    font-size:48px;
    text-align:center;
    margin-bottom:20px;
}

@media screen and (max-width:640px) {
    main {
        display:initial;
    }

    body {
        justify-content:initial;
        align-items:initial;
    }

    .theme-switcher {
        top:25px;
        right:25px;
        left:auto;
    }

    .search_form {
        align-items:flex-start;
        gap:15px;
    }

    .wrapper, body, .search_form {
        width:100%;
    }

    .search_bar {
        width:100%;
    }

    .search {
        font-size:14px;
        width:100%;
    }

    h1 {
        font-size:48px;
    }

    h3 {
        font-size:38px;
        text-align:left;
    }

    .search_results {
        font-size:14px;
    }
}



.modals_wrapper {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;

    display:none;
    justify-content:center;
    align-items:center;
    background:#00000050;
}

.modal {
    background:var(--background);
    color:var(--text-main);
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding:50px;
    gap:30px;
}

.background_images__list {
    display:grid;
    /* flex-flow:row wrap; */
    grid-template-columns: repeat(5, 1fr);

    gap:10px;
}

.background_images__list__element {
    max-width:150px;
    max-height:150px;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;
    box-sizing:border-box;
    transition:0.15s;
    cursor:pointer;
}

.background_images__list__element > * {
    transition:.15s;
}

.background_images__list__element:hover > * {
    transform:scale(1.25);
}

.background_images__list__element img {
    height:100%;
    box-sizing:border-box;
    display:block;
}

.element-selected {
    border:3px solid var(--accent);
}

.change_background__bottom_buttons {
    align-self:flex-end;
    display:flex;
    gap:15px;
}

